<!DOCTYPE html>
<html lang="en">

<head>
  <%- include header.ejs %>
    <script type="text/javascript" src="../../js/order.js"></script>
</head>

<body>

  <nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
      <%- include small_device_nav.ejs %>
        <div id="tab" class="collapse navbar-collapse">
        </div>
    </div>
  </nav>
  <div id="main" class="main container-fluid text-center">
  </div>
  <script type="text/javascript">
    var data = <%-JSON.stringify(orderlist)%>;
    console.log(data);

    if (data.length == 0) {
      $('#order').prop('disabled', true);
    }
    if (data.length > 7) {
      console.log("quit");
    }

  </script>
</body>

</html>
