<!DOCTYPE html>
<html lang="en">

<head>
  <%- include header.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
      <%- include small_device_nav.ejs %>
        <div id="tab" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">HOME<span style="font-size:16px;" class="pull-right hidden-xs glyphicon glyphicon-home"></span></a></li>
            <li class="dropdown">
              <a href="/menu" class="dropdown-toggle" data-toggle="dropdown">MENU<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs glyphicon glyphicon-cutlery"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/menu">TODAY</a></li>
                <li><a href="/menu/mon">MONDAY</a></li>
                <li><a href="/menu/tue">TUESDAY</a></li>
                <li><a href="/menu/wed">WEDNESDAY</a></li>
                <li><a href="/menu/thu">THURSDAY</a></li>
                <li><a href="/menu/fri">FRIDAY</a></li>
              </ul>
            </li>
            <li><a href="/order">ORDER<span style="font-size:16px;" class="pull-right hidden-xs glyphicon glyphicon-shopping-cart"></span></a></li>
            <li><a href="/statistic">STATISTIC<span style="font-size:16px;" class="pull-right hidden-xs glyphicon glyphicon-stats"></span></a></li>
          </ul>
        </div>
    </div>
  </nav>

  <div class="main container-fluid text-center">
    <h2>STATISTIC</h2>
    <p>This graph shows today's order.</p>
  </br>
    <canvas id="myChart"></canvas>
  </div>
  <script>
    var orderdata = <%- JSON.stringify(orderdata) %>;
    let _labels = [];
    let _data = [];
    for (let i = 0; i < orderdata.length; i++) {
      _labels.push(orderdata[i]['_id']);
      _data.push(orderdata[i]['count']);
    }
    new Chart(document.getElementById("myChart"), {
      type: 'bar',
      data: {
        labels: _labels,
        datasets: [{
          backgroundColor: ["#4F5C2F", "#89A04F", "#B2C485", "#CADBAB", "#AAB683", "#909779", "#737764"],
          data: _data
        }]
      },
      options: {
        title: {
          display: true,
          text: "Today's Order",
          fontSize: 25
        },
        legend: {
            display:false
        }
      }
    });

    Chart.defaults.global.responsive = true;
    window.onload = function() {
      var ctx = document.getElementById("myChart").getContext("2d");
      window.myDoughnut = new Chart(ctx, config);
    };
  </script>
</body>

</html>
