<!DOCTYPE html>
<html lang="en">

<head>
  <title>Food Ordering System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script type="text/javascript" src="../../js/stat1.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tab">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Food Order System</a>
      </div>
        <div id="tab" class="collapse navbar-collapse">

        </div>
    </div>
  </nav>

  <div class="main container-fluid">
    <h2>STATISTIC</h2>
    <p>This graph is blahblah.</p>
    <div class="dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Month<span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li><a href="/statistic/jan">January</a></li>
        <li><a href="/statistic/feb">February</a></li>
        <li><a href="/statistic/mar">March</a></li>
        <li><a href="/statistic/apr">April</a></li>
        <li><a href="/statistic/may">May</a></li>
        <li><a href="/statistic/jun">June</a></li>
        <li><a href="/statistic/jul">July</a></li>
        <li><a href="/statistic/aug">August</a></li>
        <li><a href="/statistic/sep">September</a></li>
        <li><a href="/statistic/oct">October</a></li>
        <li><a href="/statistic/nov">November</a></li>
        <li><a href="/statistic/dec">December</a></li>
      </ul>
    </div>
    <canvas id="myChart" width="800" height="450"></canvas>

  </div>
  <script>
    var orderdata = <%- JSON.stringify(orderdata) %>;
    console.log(orderdata);
    eachday_draw_chart(orderdata, <%=month%>, <%=year%>);
  </script>
</body>

</html>
